*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h3 {
  text-align: center;
}
h4 {
  position: relative;
}
.hero{
    color: #eee;
    background-color: #607D8B;
    padding: 20px;
    border-radius: 3px;
    text-align: center;

}
.hero:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
