.hero{
  cursor: pointer;  
  position: relative;
  left: 0;
  margin: .5em;
  padding: .13em 0;
  height: 1.6em;
  border-radius: 4px;
}

.heroId{
      background-color: #607D8B;
      color: white;
}

.heroName{
    padding-left:10px;
    background-color: #EEE;
}

.heroDelete{
  border:none;
  background-color: #D9534F;
  color: white;
}

/*Hover id or name*/
.heroName:hover{
    color: #607D8B;
    background-color: #DDD;
}

.heroId:hover + .heroName {
    color: #607D8B;
    background-color: #DDD;
}

/* Clicking id or name */
.heroName:active{
  background-color: #BBBBBB !important;
}

.heroId:active + .heroName{
  background-color: #BBBBBB !important;
}

/*Selected Hero*/
.hero.selected .heroName {
  background-color: #CFD8DC !important;
  color: white;
}

/*Hover id or name when hero selected*/
.hero.selected .heroName:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.hero.selected .heroId:hover + .heroName {
  background-color: #BBD8DC !important;
  color: white;
}

/*Delet Button*/
.heroDelete:hover{
  background-color: #c9302c;
}

.heroDelete:active{
  background-color: #ac2925;
}
